.catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.1rem;
    justify-items: center;
}

.catalogue__add {
    position: absolute;
    margin: 1rem;
    right: 0;
    cursor: pointer;
}

.skeleton-wrapper {
    width: 400;
    height: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
