.phone-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        font-weight: bolder;
        font-size: larger;
        text-transform: uppercase;
    }

    & > a > img {
        padding: 2rem;
    }
}
