$imperial-red: #e63946;
$honeydew: #f1faee;
$powder-blue: #a8dadc;
$celadon-blue: #457b9d;
$prussian-blue: #1d3557;

$background-dark: #3a0ca3;
$background-medium: #480ca8;
$background-bright: #560bad;

$contrast-dark: #7209b7;
$contrast-medium: #b5179e;
$contrast-bright: #f72585;
